@import "tailwindcss";

@theme {
  --color-primary-container: #c084fc;
  --color-on-primary: #31004a;
  --color-background: #080810;
  --color-outline-variant: #2e2b38;
  --color-outline: #6b6578;
  --color-surface: #0f0e18;
  --color-surface-container-low: #13111d;
  --color-surface-container-lowest: #08080f;
  --color-surface-container-high: #1e1b2a;
  --color-surface-container: #161421;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-accent: #c084fc;

  --font-headline: "Syne", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}